<ion-view view-title="Home" name="home-view" class="bg-style">
  <ion-content class="padding">
    <img class="logo" src="img/logo2.png" style="padding-bottom: 22px">

    <button class="button button-block button-calm" ng-click="">Add expenses</button>
    <button class="button button-block button-royal" ng-click="receipt()">Scan Receipt</button>
    <button class="button button-block button-calm" ng-click="">Statistics</button>
    <button class="button button-block button-royal" ng-click="">History</button>
  </ion-content>
</ion-view>
