<ion-view view-title="Login" name="login-view" class="bg-style">
  <ion-content class="padding">
    <img class="logo" src="img/logo2.png">
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="Username" ng-model="username">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="password">
      </label>
    </div>
    <button class="button button-block button-calm" ng-click="login()">Login</button>
    <button class="button button-block button-energized" ng-click="googleSignIn()">Sign in with Google</button>
    <!--<a class="google-sign-in button button-block" ng-click="googleSignIn()">Sign in with Google</a>-->
    <p class="text-center">Don't have yet an account? <a href="" ng-click="register()">Register now!</a></p>
  </ion-content>
</ion-view>
